body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #08001f, #30197d);
    color: #fff;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}
.head {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
  padding-left: 40px;
  width: 97%;
  height: 50px;
  border-radius: 20px;
  font-size: 25px;
  color: rgba(44, 163, 186, 1);
  transform: translateX(0px);
  animation: intro 2s cubic-bezier(0.99, -0.59, 0, 1.37);
}

.head img {
  width: 100px;
  height: 180%;
  border-radius: 50%;
}
h1 {
  color: #c9d60e;
  text-shadow: #e5ff00;
  font-size: 45px;
  margin-top: 50px;
}
h1:hover {
  color: #fffb00;
  text-shadow: 0 0 10px #585706;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-top: 43vh;
    animation: intro 2s cubic-bezier(.65,-0.84,0,1.37);
}

@keyframes intro {
  from {
    transform: translateX(-600px);
  }

  to {
    transform: translateX(0px);
  }
}
.container {
    width: 800px;
    height: 200px;
    text-align: center;
    position: relative;
}

.clock {
    width: 80%;
    height: 135px;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 18px;
    padding: 20px;
    backdrop-filter: blur(40px);
    box-shadow: 0 0 19px rgba(110, 23, 173, 1);
}

.time {
    font-size: 60px;
    font-weight: bold;
    color: #0D9EFF;
}

.time span {
    margin: 0 10px;
}

.container::before {
    content: '';
    width: 200px;
    height: 180px;
    background: #f41b75;
    border-radius: 50px;
    position: absolute;
    left: -60px;
    top: -50px;
    z-index: -1;
}

.container::after {
    content: '';
    width: 193px;
    height: 180px;
    background: #419aff;
    border-radius: 50%;
    position: absolute;
    right: 24px;
    bottom: -30px;
    z-index: -1;
}

.clock span {
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after {
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}
#hrs::after {
    content: 'HOURS';
}
#min::after {
    content: 'MINUTES';
}
#sec::after {
    content: 'SECONDS';
}
#AmPm::after {
    content: 'AM/PM';
}
.date {
    font-size: 21px;
    color: #28BEFF;
    margin-top: 25px;
}
/* Target the entire scrollbar */
::-webkit-scrollbar {
  width: 10px;
  /* Set the width of the scrollbar */
  background-color: #f0f0f000;
  /* Background of the scrollbar track */
}

/* Target the scrollbar track (the area the thumb moves along) */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f500;
}

/* Target the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #55555500;
}

/* Style the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(44, 0, 126);
}
